.idea
.venv
pizza_steak
10_food_classes_all_data.zip
10_food_classes_all_data
10_food_classes_1_percent
101_food_classes_10_percent.zip
101_food_classes_10_percent
pizza_steak.zip
10_food_classes_10_percent
transfer_learning
__MACOSX
*.zip
model_checkpoints
models
